@model HMS.ViewModels.LoginViewModel

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Admin Login";
}
<div class="container">
    @using (Html.BeginForm("SuperAdmin", "Login", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()

        <h2 class="form-signin-heading">Please Login</h2>
        <div>
            @Html.LabelFor(m => m.EMP_ID)
            @Html.TextBoxFor(m => m.EMP_ID, new { @class = "form-control" })
            <span>@Html.ValidationMessageFor(m => m.EMP_ID)</span>
        </div>
        <div>
            @Html.LabelFor(m => m.PASSWORD)
            @Html.PasswordFor(m => m.PASSWORD, new { @class = "form-control" })
            <span>@Html.ValidationMessageFor(m => m.PASSWORD)</span>
        </div>
        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
        
        <div class="alert-danger">
            @Html.ValidationMessage("_loginError")
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

