@model HMS.Models.RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuperRegister</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/signin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm( "SuperRegister","Login",FormMethod.Post,new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <h2 class="form-signin-heading">Please Register</h2>
            <div>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(m => m.ComfirmPassword)
                @Html.TextBoxFor(m => m.ComfirmPassword, new { @class = "form-control" })
            </div>
            <input type="submit" value="Register" class="btn btn-lg btn-primary btn-block" />
        }
    </div>
</body>
</html>
